@layout MainLayout

@page "/signout/success"

@inject NavigationManager _navigationManager

<Result
    Status="success"
    Title="Success"
    SubTitle="You are now signed out.">
    <Extra>
        <Template>
            <Button OnClick="SignIn">Switch User</Button>
        </Template>
    </Extra>
</Result>

@code
{
    private void SignIn() => _navigationManager.NavigateTo("/signin", true);
}